        
    /*estilo de botones*/
      li {
      background-color:rgb(238, 109, 238);
      display:inline;
      border-bottom: 50%;
      margin: 10px;
      box-shadow: 10px 10px 7px  rgb(229, 55, 186);
      padding: auto;
      border-radius:100px;
      margin: 10px;
      border: 5px inset rgb(229, 55, 186) ;         
    }
    
   /*barra de arriba*/
   div{
    background-color:rgb(230, 132, 215);
    border-radius:50px;
   }

    h1 {
    display: flex-block;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
    color: rgb(4, 46, 46);
    inline-size: 100%;
    }
    p {
      font-size:medium;
      color:black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: italic;
      margin:auto;
      display:inline-block;
      text-align:center;
    }

    .parrafos {
      font-size: medium;
      color: black;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
      font-style: italic;
      margin: auto;
      text-align: center;
       }             
  /*Estilos fotos de perfil*/
  @media (min-width:576px){
    #mifoto {
      position: absolute;
      width: 15px;
      border-radius: 100px;
      box-shadow: 3px 3px 3px lightblue;
      left: 15%;
      top: 60px;
    }

  }

  /*Estilo de la foto de perfil*/
img {
  @media (min-width:576px)
  width: 15%;
    height: 150px;
    margin:left;
    display:flex;
    box-shadow: 10px 10px 7px  rgb(229, 55, 186);
    padding: 10px;
    border-radius:100px;
   }

   /*Estilo de la foto de perfil*/
   @media(max-width:575px){
    #mifoto{
      position:absolute;
      width: 30%;
      border-radius:100%;
      box-shadow: 3px 3px 3px plum;
      left: 33%;
      top: 630px;
  }
  }




