<div class="m-3">
    <div class="row"></div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
    <figure class="figure">
        <img src="../../../assets/mifoto.jpg" class="img-fluid" id="mifoto">
        <figcaption class="figure-caption">Patricia</figcaption>
    </figure>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>

     <h1>Acerca de mi</h1>
    <p id="nombre"><b>Patricia Monica Galun</b></p><br>
    <p>Full Stack Developer Jr</p><br>
    <p>Córdoba (Argentina)</p><br>
    <p><a href="#" class="btn-rigt">Informacion de Contacto</a><i class="fa fa pen" aria-hidden="true">
     </i></p>
     
