<form class="m-3"></form> 
<div class="row">
  <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2"></div>
  <div>
    <h1>Acerca de mi</h1>
    <div class="parrafos">
    <p>Asesora en Alimentación Saludable, recibida en Coefix con titulo oficia</p><br>
    <p>Profesora de Entrenamiento Funcional</p><br>
    <p>Estudiante de Programación en Argentina Programa</p>
    </div>
    <div>
    <figure class="figure">
          <img src="../../../assets/mifoto.jpg" class="img-fluid" alt="mifoto">
          <figcaption class="figure-caption">Patricia</figcaption>
          </figure>
          <a href="#" class="btn-rigth"><i class="fa fa pen" aria-hidden="true">
              </i> </a>
          <p id="nombre"><b>Patricia Monica Galun</b></p><br>
          <p>Full Stack Developer Jr</p><br>
          <p>Córdoba (Argentina)</p><br>
          <p><a href="#" class="btn-rigt">Informacion de Contacto</a><i class="fa fa pen" aria-hidden="true">
          </i></p> </div>

          <div class="botones">
            <li><button type="button" class="btn btn primary">Tengo Interes en</button></li>
            <li><button type="button" class="btn btn secondary">Añadir Seccion</button></li>
            <li><button type="button" class="btn btn sucess">Mas</button></li>
        </div>
          
          
