<form class="m-3"> 
    <div class="row">
      <div class=" col-xs-12 col-sm-4 col-md-4 ">
    <h1>Acerca de mi</h1>

       <figure class="figure">
            <img src="../../../assets/mifoto.jpg" class="img-fluid" alt="mifoto">
            <figcaption class="figure-caption"></figcaption></figure>
            <a href="#" class="btn-rigth"><i class="fa fa pen" aria-hidden="true">
            <p id="nombre"><b>Patricia Galun</b></p><br>
         <div class="container">
            <p>Full Stack Developer Jr</p><br>
            <p>Córdoba (Argentina)</p><br>
            <p><a href="#" class="btn-rigt">Informacion de Contacto</a><i class="fa fa pen" aria-hidden="true">
            </i></p></div>

           <div class="parrafos">
            <p>Asesora en Alimentación Saludable, recibida en Coefix con titulo oficia</p><br>
            <p>Profesora de Entrenamiento Funcional, recibida en Coefix con titulo oficial</p><br>
            <p>Estudiante de Programación en Argentina Programa</p>
            
               <div class="botones">
                <li><button type="button" class="btn btn primary">Tengo Interes en</button></li>
                <li><button type="button" class="btn btn secondary">Añadir Seccion</button></li>
                <li><button type="button" class="btn btn sucess">Mas</button></li>
            </div>
   