<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4 " >
    <circle-progress
    [percent]="55"
    [radius]="100"
    [imageSrc]="'../assets/HTML.png'"
    [showImage]="true"
    [imageHeight]="100"
    [imageWidth]="90"
    [showUnits]="false"
    [outerStrokeWidth]="16"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'rgb(190, 136, 206)'"
    [innerStrokeColor]="'#6ea7e3'"
    [animation]="true"
    [animationDuration]="300"
    [lazy]="true"
  ></circle-progress> 
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4 " >
  <circle-progress
  [percent]="55"
  [radius]="100"
  [imageSrc]="'../assets/CSS.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="90"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'rgb(190, 136, 206)'"
  [innerStrokeColor]="'#6ea7e3'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
></circle-progress> 
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4 " >
  <circle-progress
  [percent]="55"
  [radius]="100"
  [imageSrc]="'../assets/Facebook.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="90"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'rgb(190, 136, 206)'"
  [innerStrokeColor]="'#6ea7e3'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
></circle-progress> 
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4 " >
  <circle-progress
  [percent]="55"
  [radius]="100"
  [imageSrc]="'../assets/GITHUB.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="90"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'rgb(190, 136, 206)'"
  [innerStrokeColor]="'#6ea7e3'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
></circle-progress> 
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4 " >
  <circle-progress
  [percent]="55"
  [radius]="100"
  [imageSrc]="'../assets/Twt.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="90"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'rgb(190, 136, 206)'"
  [innerStrokeColor]="'#6ea7e3'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
></circle-progress> 
</div>
<div class="text-center col-sm-4 col-md-4 col-lg-4 " >
  <circle-progress
  [percent]="55"
  [radius]="100"
  [imageSrc]="'../assets/JS.png'"
  [showImage]="true"
  [imageHeight]="100"
  [imageWidth]="90"
  [showUnits]="false"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'rgb(190, 136, 206)'"
  [innerStrokeColor]="'#6ea7e3'"
  [animation]="true"
  [animationDuration]="300"
  [lazy]="true"
></circle-progress> 
</div>
</div>

