#logoAP {
    width: 150px;; 
    height: 100px;
    float: right;
    margin: 10px 10px;
    border-radius: 10px 10px 10px
   }
  
   div{
    background-color:rgb(190, 136, 206);
    border-radius:30px;
     
   }
      .container {
         display: flex;
         justify-content: space-between;
         align-items: center;
      } 
 
 